{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "import",
    "react-hooks"
  ],
  // "rules": {
  //   "jsx-a11y/label-has-associated-control": "off",
  //   "jsx-a11y/anchor-is-valid": "off",
  //   "no-console": "off"
  // }
  // eslint-disable-next-line no-unused-vars
  // enhancer 사용
  // 미들웨어 설명
  // https://darrengwon.tistory.com/558

  "rules": {
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off",
    "no-unused-vars": "off"
  }
}
